:root {
  --main-color: #F1B2CE;
  --title-bg-color: #FF0070;
  --bg-color: #000028;
  --cover-description-color: #DB00FF;
  --content-title-color: #000028;
  --accent-color: #FF0070;
  --accent-color-transparent: rgb(255 0 112 / 0.4);
}